#profile {
  padding-block: 2rem;
  font: var(--text-md);

  & h1 {
    font: var(--text-lg);
  }

  & .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;

    & #profile-description {
      --img-size: 7.5rem;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      & img {
        width: var(--img-size);
        height: var(--img-size);
      }

      & > div {
        max-width: 24rem;
      }
    }

    & ul {
      width: 17.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;


      & li {
        list-style: none;
        display: flex;
        align-items: center;
        gap: .5rem;

        & span {
          min-width: 5rem;
        }
      }
    }
  }


}

@media (width >= 45em) {
  #profile {
    & .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & #profile-description {
        --img-size: 11rem;
        flex-direction: row;
      }
    }
  }
}